client
dev tun
proto udp
remote vpn.b-code.cloud 1194
resolv-retry infinite
nobind
persist-key
persist-tun
remote-cert-tls server
explicit-exit-notify 3
cipher AES-256-GCM
data-ciphers AES-128-GCM:AES-192-GCM:AES-256-GCM
data-ciphers-fallback AES-128-GCM
auth SHA512
auth-user-pass
redirect-gateway def1
verb 3
<ca>
%s
</ca>
<cert>
%s
</cert>
<key>
%s
</key>